body
    background-color #f6f6f6
    margin 0px
    font-size 14px
.mt16
    margin-top 16px

.box
    background-color #fff
    border-radius 8px
    border 1px solid #d6d6d6
    padding 16px
    width 500px
    position absolute
    .btn-success
        background-color red
        border 0px
        width 100%
    .form-control
        &:focus
        &:active
            outline none
            box-shadow none
    .inside
        padding 16px
    .header
        //background-color #f36438
        border-radius 8px 8px 0px 0px
        padding 16px
        a
            img
                display block
                margin 0px auto
                width 36%
    .footer
        text-align center
        a
            display inline-block
            font-size .8em


.box_login
    left calc(50% - 250px)
    top calc(25% - 121px)

.box_register
    left calc(50% - 250px)
    top calc(25% - 121px)

